<h2>Create an Author</h2>


  <% if @author.errors.any?%>
    <div id="error_explanation">
      <h3 There were some errors:</h3>
      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<%= form_for @author do |f|%>
    
  <div class="field<%= 'field_with_errors' if @author.errors[:name].any? %>">
    <%= f.label :Name%>
    <%= f.text_field :name, id:"Name" %><br>
  </div>
  <div class="field<%= ' field_with_errors' if @author.errors[:email].any? %>">
    <%= f.label :Email%>
    Email:<%= f.text_field :email, id:"Email" %>
  </div>
  <div class="field<%= ' field_with_errors' if @author.errors[:phone_number].any? %>">
    <%= f.label :Phone_Number%>
    <%= f.text_field :phone_number, id:"Phone Number" %>
  </div>

  <%= f.submit %>
<% end %>

